footer{
	background-color: white !important;
	border-top: 1px solid $yellow;
	text-align: center;
	padding: 50px !important;
	display: inline-block;
	width: 100%;
	.social{
		list-style: none;
		margin: 0;
		padding: 0;
		&:hover{
			li{
				a{
					opacity: .5;
				}
			}
		}
		li{
			display: inline-block;	
			margin-right: 40px;			
			&:last-of-type{
				margin-right: 0;
			}	
			a{
				display: inline-block;
				width: 75px;
				height: 75px;
				position: relative;
				-webkit-transition: .2s;
				-o-transition: .2s;
				-ms-transition: .2s;
				-moz-transition: .2s;
				&:hover{
					opacity: 1;
				}
				&.fb{
					&:after{
						background: url(http://www.rasjacobson.store/wp-content/uploads/2016/11/iconbgf-copy.png);
				    width: 120px;
				    height: 105px;
				    background-size: 100% auto;
				    top: -21px;
				    left: -29%;
				    background-blend-mode: multiply;
					}
				}
				&.tw{
					&:after{
						background: url(http://www.rasjacobson.store/wp-content/uploads/2016/11/iconbgt-copy.png);
						width: 200px;
				    height: 165px;
				    background-size: 100% auto;
				    top: -51px;
				    left: -99%;
				    background-blend-mode: multiply;
					}
				}	
				&.insta{
					&:after{
						background: url(http://www.rasjacobson.store/wp-content/uploads/2016/11/iconbgi-copy.png);
				    width: 170px;
				    height: 135px;
				    background-size: 100% auto;
				    top: -42px;
				    left: -66%;
				    background-blend-mode: multiply;
					}
				}	
				&.linked{
					&:after{
						background: url(http://www.rasjacobson.store/wp-content/uploads/2016/11/iconbgin-copy.png);
				    width: 210px;
				    height: 155px;
				    background-size: 100% auto;
				    top: -40px;
				    left: -100%;
				    background-blend-mode: multiply;
					}
				}	
				&:after{
					content: '';
					display: inline-block;
			    position: absolute;
			    z-index: 9;
				}
				img{
					width: 100%;
					height: auto;
					position: relative;
					z-index: 10;
				}
			}
		}
	}
	.bottom{
		display: block;
		text-align: center;
		font-family: $baskerville;
		font-weight: bold;
		color: rgba(0,0,0,.45);
		margin-top: 50px;
	}
	.small{
		display: block;
		text-align: center;
		margin-top: 5px;
		a{
			font-family: $helvetica;
			font-weight: bold;
			color: $yellow;
			font-size: 10px;
		}
	}
}