.site-content{
	position: relative;
	overflow: hidden;
	top: -1em;
  margin-bottom: -1em;
	#home{ 
		#main{
			padding: 0;
			.page{
				margin-bottom: 0; 
				.jsn-bootstrap3{
					display: none;
					&:first-of-type{
						display: block;
					}
				}
				.entry-header{
					display: none;
				}
				.col-md-12{
					padding: 0;
					.top{
						position: relative;
						top: -30px;
					}
				}
				.master-slider-parent{
					max-width: 100% !important;
					width: 100% !important;
					position: relative;
					height: 85vh;
					min-height: 600px;
					.master-slider{
						max-width: 100% !important;
						width: 100% !important;
						height: 100% !important;
						-webkit-animation: fade .75s;
						-ms-animation: fade .75s;
						-o-animation: fade .75s;
						-moz-animation: fade .75s;						
						.ms-container{
							max-width: 100% !important;
							width: 100% !important;
							height: 100% !important;
							.ms-inner-controls-cont{
								max-width: 100% !important;
								width: 100% !important;
								height: 100% !important;
								.ms-view{
									max-width: 100% !important;
									width: 100% !important;
									height: 100% !important;
									left: 0 !important; 
									.ms-slide-container{
										max-width: 100% !important;
										width: 100% !important;
										height: 100% !important;
										.ms-slide{
											max-width: 100% !important;
											width: 100% !important;
											height: 100% !important;
											.ms-slide-bgcont{
												max-width: 100% !important;
												width: 100% !important;
												height: 100% !important;
												img{
													max-width: 110% !important;
													height: auto !important;
													width: 110% !important;
													position: relative;
													margin-top: 0 !important;
													top: -100px;
												}
											}
										}
									}
								}
								.ms-bullets{
									.ms-bullets-count{
										.ms-bullet{
											background: none;
											position: relative;
											margin-right: 10px !important;
											&:before{
												content: "\e005";
										    font-family: 'Glyphicons Halflings';
										    display: inline-block;
										    position: absolute;
										    top: -10px;
										    left: -7px;
										    font-size: 18px;
										    color: white;
											}
											&.ms-bullet-selected{
												&:before{
													color: $yellow;
												}
											}
										}
									}
								}
							}
						}
					}
				}
				.title_button{
					width:200px;
					max-width: 1100px;
					display: block;
					margin: 30px auto 30px;
					text-align: center;
					font-size: 30px !important;
					color: $yellow;
					text-transform: uppercase;
					font-weight: 300;
					padding: 2.5px 30px;
					border: 1px solid $yellow;
					letter-spacing: 3px;
					-webkit-transition: .15s;
					-moz-transition: .15s;
					-o-transition: .15s;
					-ms-transition: .15s;
					&:hover{
						text-decoration: none;
						background: $yellow;
						color: white;
					}
				}
				.title{
					width: 100%;
					max-width: 1100px;
					display: block;
					margin: 0 auto 30px;
					border-bottom: 1px solid rgba(0,0,0,.1);
					text-align: center;
					h1{
						font-size: 40px !important;
				    color: $yellow;
				    text-transform: uppercase;
				    font-weight: 300;
				    letter-spacing: 3px;
				    font-family: $baskerville;
					}
				}				
				.body-content{
					width: 100%;
					max-width: 1100px;
					display: block;
					margin: 0 auto 50px auto;
					position: relative;
					h3{
				    font-family: $baskerville;
				    font-size: 22px;
				    text-transform: uppercase;
				    font-weight: bold;
				    color: #828282;
				    letter-spacing: 3px;
				    margin-bottom: 20px;
				    margin-top: 0;
					}
					.about{
						position: relative;
						top: -20px; 
					}
					p{
				    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
				    text-align: justify; 
				    font-size: 16px;
				    line-height: 30px; 
				    color: rgba(0,0,0,.65);
					}
					.about-image{
						width: 90%;
						height: 400px;
						overflow: hidden;
						img{
							width: 100%;
						}
					}
				}
			}
			.page-content{
				width: 100%;
				max-width: 1100px;
				display: block;
				margin: 0 auto 50px auto;
				position: relative;	
				text-align: center;
				p{
					width: 100%;
					display: block;
					margin: 0 auto;
			    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			    font-size: 16px;
			    line-height: 30px;
			    color: rgba(0, 0, 0, 0.65);
				}				
				.button{
					display: block;
					width: 250px;
					margin: 0 auto;
					margin-top: 30px;
					border: 1px solid $yellow;
					color: $yellow;
					font-weight: 700;
					background: transparent;
					font-size: 14px;
					text-transform: uppercase; 
					box-shadow: none !important;
					&:hover{
						background: $yellow;
						color: white;
						text-decoration: none;
					}					
				}
				.blog{
					list-style: none;
					margin: 0 auto 20px;
					padding: 0; 
					text-align: left;
					width: 100%;
					display: inline-block;
					.image{
						display: inline-block;
				    width: 30%;
				    img{
				    	width: 100%;
				    }
					}
					.blog-text{
						display: inline-block;
				    width: 65%;
				    float: right;						
						.blog-title{
							color: rgba(0,0,0,.65);
							font-family: $baskerville;
							text-transform: uppercase;
					    font-weight: bold;
					    display: block;
					    width: 100%;
					    padding-bottom: 5px;
					    margin: 0 auto;
					    font-size: 18px;
						}
						.date{
							color: rgba(0,0,0,.25);
							font-family: $roboto;
							text-transform: uppercase;
					    font-weight: bold;
					    font-weight: 700;
					    display: block;
					    font-size: 12px;	
					    margin-bottom: 15px;	
						}
						.read_more{
							a{
								display: inline-block;
								margin-top: 10px;
								color: $yellow !important;
								opacity: .5;
								&:hover{
									opacity: 1;
								}
							}
						}
						p{
							width: 100%;
							display: block;
							margin: 0 auto;
					    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
					    font-size: 16px;
					    line-height: 30px;
					    color: rgba(0, 0, 0, 0.65);
						}
					}
				}
				.subSection{
					padding-top: 20px;
					h4{
						font-family: $baskerville;
				    font-size: 18px;
				    text-transform: uppercase;
				    font-weight: bold;
				    color: #828282;
				    letter-spacing: 3px;
				    margin-bottom: 20px;
				    margin-top: 0;
					}
					p{
						width: 85%;
						display: block;
						margin: 0 auto;
				    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
				    font-size: 16px;
				    line-height: 30px;
				    color: rgba(0, 0, 0, 0.65);
					}		
					.button{
						display: inline-block;
						background: $yellow;
						box-shadow: none;
						margin: 30px auto 50px;
						text-align: center;
						font-size: 16px !important;
						color: white;
						text-transform: uppercase;
						font-weight: 700;
						padding: 5px 30px;
						border: 1px solid $yellow;
						-webkit-transition: .35s;
						-moz-transition: .35s;
						-o-transition: .35s;
						-ms-transition: .35s;
						&:hover{
							-webkit-transform: scale(1.1);
							-moz-transform: scale(1.1);
							-o-transform: scale(1.1);
							-ms-transform: scale(1.1);
							box-shadow: 3px 3px 10px rgba(0,0,0,0.25);
						}
					}			
				}
				.title{
					width: 100%;
					max-width: 1100px;
					display: block;
					margin: 0 auto 30px;
					border-bottom: 1px solid rgba(0,0,0,.1);
					text-align: center;
					h1{
						font-size: 40px !important;
				    color: $yellow;
				    text-transform: uppercase;
				    font-weight: 300;
				    letter-spacing: 3px;
				    font-family: $baskerville;
					}
				}				
			}		
			.store-content{
				width: 100%;
				display: block;
				margin: 0 auto 50px auto;
				position: relative;	
				text-align: center;
				.title{
					width: 100%;
					max-width: 1100px;
					display: block;
					border-bottom: 1px solid rgba(0,0,0,.1);					
					margin: 0 auto 30px;
					text-align: center;
					h1{
						font-size: 40px !important;
				    color: $yellow;
				    text-transform: uppercase;
				    font-weight: 300;
				    letter-spacing: 3px;
				    margin-bottom: 10px !important;
				    font-family: $baskerville;
					}
				}
				p{
					display: block;
					margin: 0 auto 30px;
			    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			    font-size: 16px;
			    line-height: 30px;
			    color: rgba(0, 0, 0, 0.65);
			    a{
			    	color: $yellow;
			    }
				}		
				.woocommerce{
					display: block;
					height: 575px;
					background: url(https://scontent.xx.fbcdn.net/t31.0-8/14205932_842004115899420_1272045187082794953_o.jpg) rgba(0,0,0,.45);
					background-size: cover; 
					background-blend-mode: multiply;
					background-attachment: fixed;
					.products{
						width: 100%;
						max-width: 1100px;
						display: block;
						margin: 0 auto;
						position: relative;	
				    padding: 90px 50px;
						text-align: center;
						height: inherit;
						.product{
							width: 31%;
							margin-right: 3%;
							&:last-of-type{
								margin-right: 0;
							}
							.woocommerce-LoopProduct-link{
						    padding: 15px;
						    background: white;
						    border-radius: 5px 5px 0 0;
						    img{
						    	height: 240px !important;
						    	width: auto !important;
						    }
						    h3{
						    	color: $yellow;
						    	font-family: $baskerville;
							    font-size: 18px;
							    margin: 20px auto 10px;
							    text-transform: uppercase;
							    font-weight: bold;
						    }
						    .amount{
						    	font-family: $baskerville;
							    font-size: 16px;
							    color: rgba(0,0,0,.35);
							    font-weight: bold;
						    }
							}
							.add_to_cart_button{
								display: block;
								margin-top: 0px;
								border-left: 2px solid $yellow;
								border-right: 2px solid $yellow;
								border-bottom: 2px solid $yellow;
								color: $yellow;
								font-weight: 700;
								background: transparent;
								font-size: 14px;
								text-transform: uppercase; 
								box-shadow: none !important;
								&:hover{
									background: $yellow;
									color: white;
									text-decoration: none;
								}
							}
						}
					}
				}				
			}			
		}
	}
}
@-webkit-keyframes fade {
  0% {opacity: 0;}  
  100% {opacity: 1;}
}
@-moz-keyframes fade {
  0% {opacity: 0;}  
  100% {opacity: 1;}
}
@-ms-keyframes fade {
  0% {opacity: 0;}  
  100% {opacity: 1;}
}
@-o-keyframes fade {
  0% {opacity: 0;}  
  100% {opacity: 1;}
}