
@media screen and (max-width: 1750px) {
	.site-content {
		#home {
			#main {
				.page {
					.master-slider-parent {
						.master-slider {
							.ms-container {
								.ms-inner-controls-cont {
									.ms-view .ms-slide-container {
										.ms-slide {
											.ms-slide-bgcont {
												img{
													width: 150% !important;
													max-width: 150% !important;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1230px) {
	.site-header {
		.storefront-primary-navigation{
			width: 60% !important;
			.main-navigation {
				ul {
					li {
						a{
							font-size: 14px;
							padding: 0 .35em;
						}
					}
				}
			}
		}
	}
}	
@media screen and (max-width: 1120px) {
	.site-content {
		#home {
			#main {
				.page {
					.body-content {
						.about-image{
							height: auto;
						}
					}
				}
			}
		}
	}
	#secondar {
		#main {
			.content {
				width: 90%;
			}
			.custom{
				width: 90%;
			}
			.contact_area {
				.full.center {
					p{
						width: 90%;
						margin: 0 auto;
					}
				}
			}
		}
	}
	.blog {
		#main {
			.blog-section{
				width: 90%;
			}
		}
	}
	.store{
		width: 90% !important;
		margin-right: auto !important;
		float: none !important;
		margin: 50px auto 0;
	}
}
@media screen and (max-width: 1080px){
	.site-header {
		.storefront-primary-navigation {
			width: 65%;
			.main-navigation {
				ul {
					li {
						a{
					    font-size: 14px;
					    padding: 0 .45em;
						}
					}
				}
			}
		}
	}	
	.site-content {	
		#home {
			#main {
				.page {
					.master-slider-parent {
						.master-slider {
							.ms-container {
								.ms-inner-controls-cont {
									.ms-view .ms-slide-container {
										.ms-slide {
											.ms-slide-bgcont {
												img{
													width: 200% !important;
													max-width: 200% !important;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}	
}
@media screen and (max-width: 1080px){
	.store {
		#main {
			.products {
				li.product-category {
					a {
						img{
							top: 0;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 980px){
	.row{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.site-header {
		&.open{
			.storefront-primary-navigation {
				.main-navigation {
					.primary-navigation {
						ul {
							li {
						    -webkit-animation: rightLeft .2s;
						    -o-animation: rightLeft .2s;
						    -ms-animation: rightLeft .2s;
						    -moz-animation: rightLeft .2s;
				    		&:nth-of-type(2){
							    -webkit-animation: rightLeft .2s .1s;
							    -o-animation: rightLeft .2s .1s;
							    -ms-animation: rightLeft .2s .1s;
							    -moz-animation: rightLeft .2s .1s;
  					      -webkit-animation-fill-mode: both;
								  -moz-animation-fill-mode: both;
								  -o-animation-fill-mode: both;
								  animation-fill-mode: both;
				    		}
				    		&:nth-of-type(3){
							    -webkit-animation: rightLeft .2s .15s;
							    -o-animation: rightLeft .2s .15s;
							    -ms-animation: rightLeft .2s .15s;
							    -moz-animation: rightLeft .2s .15s;
  					      -webkit-animation-fill-mode: both;
								  -moz-animation-fill-mode: both;
								  -o-animation-fill-mode: both;
								  animation-fill-mode: both;
				    		}
				    		&:nth-of-type(3){
							    -webkit-animation: rightLeft .2s .2s;
							    -o-animation: rightLeft .2s .2s;
							    -ms-animation: rightLeft .2s .2s;
							    -moz-animation: rightLeft .2s .2s;
  					      -webkit-animation-fill-mode: both;
								  -moz-animation-fill-mode: both;
								  -o-animation-fill-mode: both;
								  animation-fill-mode: both;
				    		}
				    		&:nth-of-type(4){
							    -webkit-animation: rightLeft .2s .25s;
							    -o-animation: rightLeft .2s .25s;
							    -ms-animation: rightLeft .2s .25s;
							    -moz-animation: rightLeft .2s .25s;
  					      -webkit-animation-fill-mode: both;
								  -moz-animation-fill-mode: both;
								  -o-animation-fill-mode: both;
								  animation-fill-mode: both;
				    		}
				    		&:nth-of-type(5){
							    -webkit-animation: rightLeft .2s .3s;
							    -o-animation: rightLeft .2s .3s;
							    -ms-animation: rightLeft .2s .3s;
							    -moz-animation: rightLeft .2s .3s;
  					      -webkit-animation-fill-mode: both;
								  -moz-animation-fill-mode: both;
								  -o-animation-fill-mode: both;
								  animation-fill-mode: both;
				    		}
				    		&:nth-of-type(6){
							    -webkit-animation: rightLeft .2s .35s;
							    -o-animation: rightLeft .2s .35s;
							    -ms-animation: rightLeft .2s .35s;
							    -moz-animation: rightLeft .2s .35s;
  					      -webkit-animation-fill-mode: both;
								  -moz-animation-fill-mode: both;
								  -o-animation-fill-mode: both;
								  animation-fill-mode: both;
				    		}
				    		&:nth-of-type(7){
							    -webkit-animation: rightLeft .2s .4s;
							    -o-animation: rightLeft .2s .4s;
							    -ms-animation: rightLeft .2s .4s;
							    -moz-animation: rightLeft .2s .4s;
  					      -webkit-animation-fill-mode: both;
								  -moz-animation-fill-mode: both;
								  -o-animation-fill-mode: both;
								  animation-fill-mode: both;
				    		}
				    		&:nth-of-type(8){
							    -webkit-animation: rightLeft .2s .45s;
							    -o-animation: rightLeft .2s .45s;
							    -ms-animation: rightLeft .2s .45s;
							    -moz-animation: rightLeft .2s .45s;
  					      -webkit-animation-fill-mode: both;
								  -moz-animation-fill-mode: both;
								  -o-animation-fill-mode: both;
								  animation-fill-mode: both;
				    		}				    						    						    						    						    						    						    		
							}
						}
					}
				}
			}
		}
		.storefront-primary-navigation {
			.main-navigation {
				.primary-navigation{
			    display: block;
			    position: fixed;
			    right: -100%;
			    height: 100vh;
			    width: 100%;
			    background: rgba(0, 0, 0, 0.75);
			    z-index: 0;
			    top: 0;
			    -webkit-transition: .2s;
			    -o-transition: .2s;
			    -ms-transition: .2s;
			    -moz-transition: .2s;
			    ul{
			    	width: 100%;
			    	margin-top: 70px;
			    	li{
			    		width: 100%;
			    		text-align: right;
			    		height: auto;
			    		line-height: 40px;
			    		position: relative;
			    		&.current_page_item{
			    			a{
			    				color: white;
			    				&:after{
			    					display: none;
			    				}
			    			}
			    		}
			    		a{
			    			font-size: 35px;
			    			font-weight: bold;
			    			padding: 0 30px;
			    			color: $yellow;
			    			position: relative;
			    			&:hover{
			    				color: white;
			    			}
			    		}
			    	}
			    }
				}
				.toggle{
					display: inline-block;
				}
			}
		}
	}
	.site-content {	
		#home {
			#main {
				.page {
					.master-slider-parent {
						.master-slider {
							margin: 0 !important;
						}
					}
				}
				.page-content {
					.blog {
						.blog-text {
							p{
								font-size: 15px;
						    line-height: 26px;
							}
						}
					}
				}	
				.store-content {
					.woocommerce {
						.products {
							.product {
								.woocommerce-LoopProduct-link {
									min-height: 370px;
									img {
										width: 100% !important;
										height: auto !important;
									}
								}	
							}
						}
					}
				}		
			}
		}
	}		
	.site-footer{
		padding: 50px 0 !important;
		.social{
	    margin-bottom: 50px;
	    li {
	    	a{
	    		width: 50px;
	    		height: 50px;
	    	}
	    	a.fb:after{
			    width: 80px;
			    height: 85px;	    		
  		    top: -21px;
			    left: -29%;
	    	}
	    	a.tw:after{
			    width: 130px;
			    height: 105px;    		
			    top: -36px;
			    left: -79%;
	    	}	 
	    	a.insta:after{
			    width: 110px;
			    height: 105px;   		
			    top: -32px;
			    left: -56%;
	    	}	 	
	    	a.linked:after{
					width: 150px;
					height: 115px; 		
					top: -35px;
					left: -109%;
	    	}	 		    	    	   	
	    }
		}
		.small{
			margin-bottom: 50px;
		}
	}
	.large_title{
		line-height: 25px;
		margin-top: 10px;	
	}
	#secondar {
		#main {
			.large_title{
				line-height: 25px;
				margin-top: 10px;
			}
			.logo{
				margin-bottom: 50px;
			}
			.testimonials {
				margin-bottom: 50px;
				.master-slider-parent {
					.master-slider {
						.ms-slide-info {
							.ms-info {
						    margin: 100px auto;
						    line-height: 52px;
						    width: 85%;
							}
						}
					}
				}
			}
			.content {
				margin-top: 0;
				.left {
					width: 100%;
					float: none !important;
					margin-right: 0 !important;
					img{
						width: 50%;
						display: block;
						margin: 0 auto;
					}
				}
				.right{
			    width: 100%;
			    display: inline-block;
			    margin-top: 30px;
				}
			}
			.custom {
				margin-top: 0;
				.left{
					width: 100%;
					float: none !important;
					margin-right: 0 !important;
					img{
						width: 50%;
						display: block;
						margin: 0 auto;
					}
				}
				.right{
			    width: 100%;
			    display: inline-block;
			    margin-top: 30px;
				}				
			}
			.content.contact{
				margin-top: 0;
				.info{
					width: 100%;
				}
				div[role="form"]{
					width: 100%;
				}
			}
		}
	}
	.store {
		#main {
			.products {
				li{
					width: 50%;
					clear: none !important;
					margin-right: 0;
				}
				li.product-category {
					height: auto !important;
					a {
						height: auto !important;
					}
				}
			}
		}
	}
	.site-header .storefront-primary-navigation .main-navigation ul li.menu-item-has-children .sub-menu{
		display: none !important;
		opacity: 0;
	}
}
@media screen and (max-width: 850px){
.site-content {	
		#home {
			#main {
				.page {
					.master-slider-parent {
						height: 65vh;
						max-height: 500px;
						min-height: 300px;
						.master-slider {
							.ms-container {
								.ms-inner-controls-cont {
									.ms-view .ms-slide-container {
										.ms-slide {
											.ms-slide-bgcont {
												img{
													width: auto !important;
													max-width: initial !important;
													min-height: 600px;
													margin-left: 0;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}		
}
@media screen and (max-width: 768px){
	.site-content {
		#home {
			#main {
				.page {
					.body-content {
						.about-image{
							width: 75%;
							display: block;
							margin: 0 auto;
						}
						.about{
							width: 85%;
							margin: 0 auto;
							top: 0;
						}
					}
				}
				.page-content {
					.blog {
						.image{
							width: 75%;
							display: block;
							margin: 0 auto;
						}
						.blog-text{
					    display: block;
					    width: 90%;
					    float: none;
					    margin: 30px auto;
						}
					}
					p{
						width: 90% !important;
					}					
				}
				.store-content {
					.woocommerce{
						height: auto !important;
						.products {
							.product{
								width: 100% !important;
								margin-right: 0 !important;
							}
						}
					}
				}
			}
		}
	}
	#secondar {
		#main {
			.testimonials {
				.ms-inner-controls-cont{
					display: none !important;
				}
				.master-slider-parent {
					.master-slider {
						.ms-slide-info {
							.ms-info {
								font-size: 35px;
								line-height: 45px;
							}
						}
					}
				}
			}
			.content {
				.left {
					img{
						width: 100%;
					}
				}
			}
			.custom {
				.left{
					img{
						width: 100%;
					}
				}
			}
		}
	}
	.store {
		#main {
			.product {
				.images{
					width: 100%;
				}
				.summary{
					width: 100%;
				}
			}
			.products {
				li{
					width: 100%;
				}
				li.product-category {
					width: 100% !important;
				}
			}
		}
	}	
	.blog {
		#main {
			.blog-section {
				article{
					width: 100%;
				}
			}
		}
	}
}
@media screen and (max-width: 520px){
	.site-content {
		#home {
			#main {
				.page {
					.body-content {
						.about-image{
							width: 90%;
						}
						.about{
							width: 90%;
						}
					}				
				}
				.page-content {
					.blog {
						.image{
							width: 90%; 
							display: block;
							margin: 0 auto;
						}	
					}
				}				
			}
		}
	}	
}