.site-header{
	padding: 0 20px 0; 
  margin-bottom: -50px;
  display: inline-block;
  width: 100%;
  position: relative;
  z-index: 1000;
  &.open{
	.storefront-primary-navigation {
		.main-navigation {
			.primary-navigation{
				right: 0;
			}
			.toggle{
				position: fixed;
			}
		}
	}
  }
	.site-search{
		display: none;
	}
	.site-branding{
		display: inline-block;
		float: none !important;
		margin-bottom: 0 !important;
		width: 300px;
		img{
			width: 100%;
			height: auto;
		}
	}
	.storefront-primary-navigation{
		width: 70%;
		margin: 0;
		padding: 0;
		float: right; 
		display: inline-block;
		background: transparent;
		height: 100%;
		.main-navigation{
		width: 100%;
		display: inline-block;
		text-align: right;			
		height: 100%;
		.menu{
			&:last-child{
				display: none;
			}
		}
		ul {
			height: 100%;
			display: inline-block !important;
			li {
				height: 100%;
				display: inline-block;
				line-height: 75px; 
				position: relative;
				&.current_page_item{
					.sub-menu{
					li{
						a{
							color: #333333 !important;
						}
					}
					}
					a{
						color: $yellow;
						&:after{
							display: inline-block;
						}
					}
				}
				&.menu-item-has-children{
					&:hover{
						.sub-menu{
							display: inline-block !important;
						}
					}
					.sub-menu{
						display: none !important;
					position: absolute;
					background: white;
					width: 200%;
					left: -50%;
					height: auto;
					top: 80%;
					padding: 0;
					li{
					line-height: 20px;
						display: block;
						height: auto;
						a{
							padding: 5px;
							display: inline-block;
							font-size: 14px;
							text-align: center;
							width: 100%;
							&:hover{
								background-color: transparent;
							}
							&:after{
								display: none;
							}
						}
					}
					}
				}
				&.current_page_parent{
					a{
						color: $yellow;
						&:after{
							display: inline-block;
						}
					}
				}
				a {
					font-weight: 300;
					text-transform: uppercase;
					font-size: 16px;
					padding: 0 .65em;
					display: inline-block;
					font-family: $roboto;
					position: relative;
					&:focus{
					outline-color: transparent;
					}
					&:before{
						display: none;
					}
					&:after{
					display: none;
					content: '';
					background: url(http://www.armorsecurityandprotection.com/ras/wp-content/uploads/2016/11/heart.png);
					width: 15px;
					height: 18px;
					background-size: cover;
					position: absolute;
					right: 41%;
					top: 5px;
					opacity: 1;
					}
					&:hover{
						color: $yellow;
						text-decoration: none;
					}
				}
			}
		}
		}
		.site-header-cart{
		position: fixed;
		top: 40%; 
		right: -300px;
		width: 50px;
		-webkit-transition: .2s;
		-moz-transition: .2s;
		-o-transition: .2s;
		-ms-transition: .2s;
		&:hover{
			opacity: 1;
			right: 0;
			.cart-contents{
				background: $yellow;
				.count{
					background: $yellow;
				}
			}
				.widget_shopping_cart{
				right: 0;
				}
		}
		&.yellow{
			.cart-contents{
				background: $yellow;
				.count{
					background: $yellow;
				  }
				}
		}
		.cart-contents{
			background: white;
			border-radius: 10px 0 0 10px;
			opacity: .75;
				right: 300px;
			position: relative;
		-webkit-transition: .25s;
			-moz-transition: .25s;
			-o-transition: .25s; 
			-ms-transition: .25s;	
			.count{
				position: absolute;
				left: 34%;
				z-index: 100;
				background: white;
				opacity: 1;
				top: 30px;
				border-radius: 50%;
				padding: 0px 7px;
				font-size: 12px;
			-webkit-transition: .2s;
				-moz-transition: .2s;
				-o-transition: .2s;
				-ms-transition: .2s;	    
			  }
			  &:after{
	  	    content: "\e116";
	        font-family: 'Glyphicons Halflings';
					position: relative;
					display: inline-block;
					margin: 0 auto;
					left: -13px;
					top: -5px;			
					display: inline-block;
					line-height: 0;  
			  }
			}
			.widget_shopping_cart{
				right: 0;
				left: initial !important;
				top: -40vh;
				height: 100vh;
				background: white;
				width: 300px;
				border-left: 1px solid rgba(0,0,0,.15);
				-webkit-transition: .2s;
				-moz-transition: .2s;
				-o-transition: .2s;
				-ms-transition: .2s;
				.widget_shopping_cart_content{
					margin-top: 50px;
				}
			}
		}
	}
}
.toggle{
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  margin-top: 23px;
  right: 25px;
  width: 60px;
  height: 32px;
  padding: 0px 10px;
  color: #1dc2f3;
  cursor: pointer;
  opacity: .75;
  border-color: transparent;
  background: transparent;
  box-shadow: none;
  -webkit-transition: .15s;
  -moz-transition: .15s;
  -o-transition: .15s;
  -ms-transition: .15s;
  &:hover{
	opacity: 1;
  }
  span{
	display: block;
	border: 2px solid $yellow;
	background-color: $yellow;
	height: 5px;
	margin-bottom: 5px;
  }
}
