.woocommerce-breadcrumb{
  margin-top: 35px;
	font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: rgba(0,0,0,.25);
  margin-bottom: 0 !important;
  display: none !important;
  a{
  	color: $yellow !important;
  	&:first-of-type{
	    margin-left: 40px;
  	}
  }
}
#secondar{
  margin-top: 50px;
  margin-bottom: 0;
  display: block;
  width: 100% !important;
	#main{
    margin-bottom: 0;
    .page{
      margin-bottom: 0;
    }
    .entry-title{
      text-align: center;
      color: rgba(0,0,0,.65);
      font-weight: 300;
      font-size: 25px !important;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-family: $roboto;
      margin-bottom: 0px;
      display: inline-block;
      width: 100%;
    }   
    .large_title{
      text-align: center; 
      color: $yellow;
      font-weight: 900;
      font-size: 27px !important;
      letter-spacing: -.24px;
      text-transform: uppercase;
      font-family: $baskerville;
      font-weight: lighter;
      margin-top: -10px;
      display: inline-block;
      width: 100%;      
    }
    .logo{
      display: block;
      margin: 0 auto;
      width: 100%; 
      img{
        display: block;
        margin: -25px auto;
        width: 300px;
      }            
    }
    p{ 
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      text-align: justify;
      font-size: 14px;
      line-height: 25px;
      color: rgba(0, 0, 0, 0.65);
      margin-bottom: 2em; 
    } 
    .signature{
      margin-left: -10px;
      width: 100px;
    }    
    .custom{
      width: 100%;
      max-width: 1100px;
      display: block;
      margin: 100px auto 30px;
      text-align: left;  
      .left{
        display: inline-block;
        width: 25%;
        margin-right: 7%;
        img{
          width: 100%;
          height: auto;
        }
      }
      .right{
        width: 65%;
        vertical-align: top;
        display: inline-block;
      }
      .smallTitle{
        color: $yellow;
        font-weight: 900;
        font-size: 18px !important;
        text-transform: uppercase;
        font-family: $baskerville; 
        margin-bottom: 20px;
        display: block;
        &.bottom{
          margin-top: 80px;
        }
      }
      .steps{
        margin-bottom: 3em;
        li{ 
          position: relative;
          margin-bottom: 30px;
          font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          font-size: 16px;
          line-height: 30px;
          margin-bottom: 1.5em;
          color: rgba(0, 0, 0, 0.65);
          padding-bottom: 1.5em;
          border-bottom: 1px solid rgba(0,0,0,.1);
        }
      }
      p{
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 2em;
        color: rgba(0, 0, 0, 0.65);
      }
    }
    .portfolio{
      width: 100%;
      max-width: 1000px;
      display: block;
      margin: 100px auto 30px;
      text-align: left;  
      .smallTitle{
        color: $yellow;
        font-weight: 900;
        font-size: 18px !important;
        text-transform: uppercase;
        font-family: $baskerville; 
        margin-bottom: 20px;
        display: block;
        &.bottom{
          margin-top: 80px;
        }
      }
      .content{
        p{
          font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          font-size: 14px;
          line-height: 25px;
          margin-bottom: 2em;
          color: rgba(0, 0, 0, 0.65);
        }
      }
      .rbs_gallery_button{
        display: none;
      }
      .robo_gallery{
        margin-top: 60px;
      }
    }    
	  .content{
      width: 100%;
      max-width: 1100px;
      display: block;
      margin: 100px auto 60px;
      &.contact{
        margin-bottom: 60px;
        .info{
          list-style: none;
          text-align: left;
          margin: 0 1% 50px 0;
          padding: 0;
          width: 40%;
          display: inline-block;
          vertical-align: top;
          hr{
            width: 65%;
            display: block;
            margin: 15px auto;
          }
          li{
            font-family: $helvetica;
            font-size: 16px;
            line-height: 30px;
            color: rgba(0, 0, 0, 0.65);
            text-align: center;
            font-weight: bold;
            img{
              width: 75%;
              margin: 20px auto;
            }
            a{
              color: $yellow;
            }
            &.main{
              color: $yellow;
              font-weight: 900;
              font-size: 18px !important;
              text-transform: uppercase;
              font-family: $baskerville;
              margin-bottom: 20px;
              display: block;
            }
          }
        }
        div[role="form"]{
          display: inline-block;
          width: 58%;
          form{
            p{
              label{
                display: block;
                font-size: 14px;
                font-family: $helvetica;
                font-weight: bold;
                color: rgba(0,0,0,.45);
                margin-bottom: -20px;
              }
              input{
                width: 100%;
                border: 1px solid rgba(0,0,0,.25);
                background: transparent;
              }
              textarea{
                width: 100%;
                border: 1px solid rgba(0,0,0,.25);
                height: 100px;
                background: transparent;
              }
              .req{
                font-size: 10px;
                color: #a90000;
                text-align: right;
                display: block;
              }
            }
            input[type="submit"]{
              background: transparent;
              border: 2px solid #1dc2f3;
              color: #1dc2f3;
              text-transform: uppercase;
              font-family: "Roboto", sans-serif;
              box-shadow: none;
              font-size: 18px;
              margin-top: 20px;
              &:hover{
                background: $yellow;
                color: white;
                text-decoration: none;
              }
            }
          }
        }
      }
      .left{
        width: 38%;
        display: inline-block;
        float: left;
        margin-right: 6%;
      }
      .right{
        width: 55%;
        display: inline-block;
        p{ 
          font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          text-align: justify;
          font-size: 14px;
          line-height: 25px;
          color: rgba(0, 0, 0, 0.65);
          margin-bottom: 2em;
          &.title{
            font-family: New Century Schoolbook, serif;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
            color: #828282;
            letter-spacing: 3px;
            margin-bottom: 20px;
            margin-top: 0;
          }
        }
      }   
    }
    .testimonials{
      display: inline-block;
      width: 100%;
      margin-top: 50px;
      margin-bottom: -75px;
      height: 500px;
      background: url(http://www.rasjacobson.store/wp-content/uploads/2016/11/IMG_7035-e1478272042569.jpg) no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-color: rgba(0, 0, 0, 0.65);
      background-blend-mode: multiply;
      .title{
        text-align: center; 
        color: white;
        font-weight: 900;
        font-size: 45px !important;
        margin-top: 50px;
        letter-spacing: -.24px;
        text-transform: uppercase;
        font-family: $baskerville;
        display: inline-block;
        width: 100%;    
      }
      .master-slider-parent{
        opacity: 1;
        .master-slider{
          visibility: visible !important;
          opacity: 1 !important;
          .ms-container{
            .ms-inner-controls-cont{
              max-width: 1200px !important;
            }
          }
          .ms-slide-info{
            margin-top: 0 !important;
            position: absolute !important;
            min-height: initial !important;
            top: 0;
            text-align: center;
            .ms-info{
              color: white;
              font-family: New Century Schoolbook, serif;
              font-weight: bold;
              font-size: 45px;
              max-width: 900px;
              display: block;
              margin: 160px auto;
              line-height: 62px;       
            }
          }
        }
      }
    }
    .contact_area{
      display: inline-block;
      width: 100%;
      background: rgba(0, 0, 0, 0.025);
      text-align: center;
      margin-top: 25px;
      .full{
        display: inline-block;
        padding: 85px 0 75px 0;
        width: 100%;
        &.center{
          p{
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            text-align: justify;
            font-size: 16px;
            line-height: 30px;
            color: rgba(0, 0, 0, 0.65);   
            text-align: center;         
          }
        }
        .button{
          background: white;
          border: 2px solid #1dc2f3;
          color: #1dc2f3;
          font-family: "Roboto", sans-serif;
          text-transform: uppercase;
          text-align: center;
          padding: 5px 50px;
          box-shadow: none;
          margin-top: 15px;
          &:hover{
            background: $yellow;
            color: white;
            text-decoration: none;
          }
        }
      } 
    }
  }
}
.blog{ 
  display: block;
  float: none;
  margin-top: 50px;
  width: 100% !important;
  #main{
    .page-title{
      text-align: center;
      color: rgba(0,0,0,.65);
      font-weight: 300;
      font-size: 25px !important;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-family: $roboto;
      margin-bottom: 0px;
      display: inline-block;
      width: 100%;
    }
    .blog-section{
      width: 100%;
      max-width: 1100px;
      display: block;
      margin: 0 auto 30px;
      a{
        color: $yellow;
        .entry-date{
          color: rgba(0,0,0,.65);
        }
      }
      .side{
        #secondary{
          margin-top: 15px;
          form[role="search"]{
            label{
              width: 100%;
            }
          }
          .widget{
            .widget-title{
              color: rgba(0,0,0,.65);
              font-weight: 900;
              font-size: 1.41em !important;
              text-transform: uppercase;
              font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            }
          }
          .widget_recent_entries{
            ul{
              li{
                position: relative;
                padding-left: 25px;
                margin-bottom: 5px;
                padding-bottom: 5px;
                border-bottom: 1px solid rgba(0,0,0,.05);
                &:before{
                  content: '';
                  background: url(http://www.armorsecurityandprotection.com/ras/wp-content/uploads/2016/11/heart.png);
                  width: 18px;
                  height: 20px;
                  background-size: cover;
                  position: absolute;
                  left: 0;
                  top: 0;
                }
                a{
                  color: $yellow;
                  font-family: $helvetica;
                  font-weight: bold;
                  text-decoration: none;
                  opacity: .75;
                  &:hover{
                    opacity: 1;
                    text-decoration: underline;
                  }
                }
                .post-date{
                  display: block;
                  font-size: 10px;
                  opacity: .65;
                  font-weight: bold;                  
                }
              }
            }
          }
        }
      }
      .page-header{
        width: 70%;
        float: left;
        display: inline-block;
      }
      article{
        width:70%;
        float: left;
        display: inline-block;
        .entry-header{
          margin-bottom: 10px;
          font-family: $baskerville;
          /*border-bottom: 10px solid $yellow;*/
          padding: 15px;
          text-align: center; 
          .entry-title{
            font-size: 26px; 
            font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
            a{
              color: $yellow;  
              color: rgba(0,0,0,.75);            
            }
          }
          .posted-on{
            font-family: $helvetica;
            font-size: 12px;
            font-weight: bold;
            a{
              color: rgba(0,0,0,.75);
            }
          }
        }
        .entry-meta{
          width: 100%;
          font-size: 11px;
          font-weight: bold;
          border-bottom: 1px solid rgba(0,0,0,.05);
          margin-bottom: 25px;
          padding-left: 15px;
          .author{
            img{
              display: none;
            }
          }
          .author, .cat-links, .comments-link, .tags-links{
            margin-bottom: 5px;
            .label{
              display: inline-block;
              margin-right: 5px;
              opacity: .35;
              color: black;
              font-size: 12px;
            }
            a{
              color: $yellow;
            }
            .comments-link{
              display: inline-block;
            }
          }
        }
        .entry-content{
          width: 100%;
          .master-slider-parent{
            margin: 60px 0;
            .master-slider{
              visibility: visible !important;
              opacity: 1 !important;
            } 
          }
          img{
            width: 100%;
            max-width: 500px;
            margin: 0; 
          }
          p{
            font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-size: 14px;
            line-height: 25px;
            margin-bottom: 2em;
            a{
              color: $yellow;
            }
          }
        }
      }
      .form-submit{
        input{
          background: transparent !important;
          border: 1px solid $yellow !important;
          color: $yellow !important;
          box-shadow: none !important;
          &:hover{ 
            background: $yellow !important;
            color: white !important;
          }
        }
      }
    }    
    .pagination{
      display: block;
      max-width: 1100px;
      padding: 0;
      border: none;
      .page-numbers{
        float: right;
        li{
          a{
            background: transparent;
            border: 1px solid $yellow;
            padding: 10px 18px;
            &:hover{
              background: $yellow;
              text-decoration: none;
              border: 1px solid $yellow;
            }
          }
          .current{
            background: rgba(0,0,0,.25);
            border: 1px solid transparent;
            padding: 10px 18px;
          }          
        }
      }
    }
  } 
}
.store{
  display: block;
  float: none;
  margin-top: 50px;
  width: 100% !important;
  #main{
    .store-title{
      text-align: center;
      color: rgba(0,0,0,.65);
      font-weight: 300;
      font-size: 25px !important;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-family: $roboto;
      margin-bottom: 0px;
      display: inline-block;
      width: 100%;
    }
    .large_title{
      margin-bottom: 25px;
    }
    .page-title{
      display: none;
    }
    p{
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      text-align: center;
      font-size: 16px;
      line-height: 25px;
      color: rgba(0, 0, 0, 0.65);
      margin: 0 auto 2em;
      width: 100%;
      max-width: 1200px;
      padding-bottom: 2em;
      border-bottom: 1px solid rgba(0,0,0,.05);
    }
    .storefront-sorting{
      width: 100%;
      max-width: 1100px;
      display: block;
      margin: 80px auto 40px;
      position: relative;
      .back{
        float: left;
        position: absolute;
        top: -60px;
        padding-left: 20px;
        left: 0;
        &:before{
          content: "\e079";
          font-family: 'Glyphicons Halflings';
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      .woocommerce-ordering{
        float: left;
        select{
          width: auto;
          height: 50px;
          border: 1px solid rgba(0,0,0,.25);
          padding-left: 6px;
          font-family: $helvetica;
          font-size: 12px;
        }
      }
      .woocommerce-result-count{
        position: relative;
        top: -30px;
        margin-bottom: -30px;
      }
      .woocommerce-result-count{
        float: right;
        vertical-align: bottom;
        position: relative;
        bottom: -40px;
        font-size: 12px;
        font-weight: bold;
        opacity: .65;
      }
      .woocommerce-pagination{
        float: right;
        margin-top: -40px;
        margin-bottom: 60px;
        .page-numbers{
          li{
            vertical-align: bottom;
            .page-numbers{
              background: transparent;
              border: 1px solid $yellow;
              padding: 10px 18px;
              &:hover{
                background: $yellow;
                text-decoration: none;
                border: 1px solid $yellow;
              }
              &.current{
                background: rgba(0,0,0,.25);
                border: 1px solid transparent;
              }
            }
          }
        }
      }
    }
    .products{
      width: 100%;
      max-width: 1100px;
      display: block;
      margin: 0 auto 30px;
      li{
        width: 31%;
        float: left;
        margin-right: 3.5%;
        overflow: hidden;
        height: 430px;
        border-bottom: 1px solid rgba(0,0,0,.15);
        &.type-product{
          margin-top: 0 !important;
        }
        &.product-category{
          width: 49% !important;
          margin-right: 0 !important;
          overflow: hidden;
          border-bottom: none !important; 
          clear: none !important;
          margin-top: 0 !important;
          a{
            width: 95% !important;
            margin: 0 auto !important;
            img{
              width: 100% !important;
              height: auto !important;
              top: -70px;
              position: relative;
            }
            h3{
              bottom: -20px !important;
              background: white;
              width: 95%;
              text-transform: uppercase;
              padding: 15px 0 40px !important;
              .count{
                font-size: 16px;
                opacity: .45;
              }
            }
          }
        }
        a{
          display: block;
          text-align: left;
          height: 340px;
          &.add_to_cart_button{
            position: absolute;
            left: 0;
            padding: 15px 0;
            width: 100%;
            bottom: 0;
            margin-bottom: 0;
            background: $yellow;
            color: rgba(0,0,0,.65);
            text-transform: uppercase;
            box-shadow: none;
            display: none;
          }
          &:hover{
            img{
              opacity: .65;
            }
          }
          h3{
            font-size: 20px;
            padding: 20px 0 10px 0;
            position: absolute;
            width: 100%;
            text-align: center;
            /*background: $yellow;*/
            color: rgba(0,0,0,.65); 
          }
          .price{
            color: #43454b;
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: 0;
            font-weight: bold;
            opacity: .5;
            font-size: 14px;
          }
          img{
            height: 100%;
            width: auto;
            max-width: inherit; 
            margin-bottom: 0;
            -webkit-transition: .35s;
            -moz-transition: .35s;
            -ms-transition: .35s;
            -o-transition: .35s;
          }
        }
      }
    }
    .wpn_buttons{
      width: 100%;
      max-width: 1100px;
      display: block;
      margin: 0 auto 30px;
    }
    .product{
      width: 100%;
      max-width: 1100px;
      display: block;
      margin: 100px auto 30px;
      position: relative;
      overflow: visible;
      .bpn-nav-container{
        width: 100%;
        margin-bottom: 35px;
        .previous{
          float: left;
          margin-left: 5px;
          a{
            &:before{
              top: 6px;
            }
            &:hover{
              text-decoration: none;
            }
          }
        }
        .next{
          float: right;
          a{
            &:after{
              top: 6px;
            }
            &:hover{
              text-decoration: none;
            }
          }
        }
      }
      .images{
        width: 45%;
        margin-right: 2%;
        a{
          img{
            width: 100%;
          }
        }
      }
      .summary{
        width: 50%;
        .product_title{
          color: rgba(0,0,0,.65);
          font-weight: bold;
          font-size: 65px;
          line-height: 60px;
        }
        .price{
          margin-left: 5px;
          color: #43454b;
          font-weight: bold;
          opacity: .5;
          font-size: 18px;
          text-align: left;
          margin-bottom: 0;
          border-bottom: none;
          padding-bottom: 0;
        }
        div[itemprop="description"]{
          padding-top: 20px;
          margin-left: 5px;
          margin-bottom: 25px;
          ul{
            list-style: none;
            margin: 0;
            padding: 0; 
            li{
              text-align: left;
              font-family: $helvetica;
              font-size: 13px;
              font-weight: bold;
              margin-bottom: 10px;
              color: rgba(0,0,0,.65);
            }
          }
          p{
            text-align: left;
            font-family: $helvetica;
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 10px;
            color: rgba(0,0,0,.65);
          }
        }
        .cart{
          .single_add_to_cart_button{
            background: white;
            border: 2px solid #1dc2f3;
            color: #1dc2f3;
            font-family: "Roboto", sans-serif;
            text-align: center;
            padding: 5px 50px;
            box-shadow: none;
            margin-top: 15px;
            &:hover{
              background: $yellow;
              color: white;
              text-decoration: none;
              padding: 5px 50px;
            }
            &:focus{
              background: $yellow;
              color: white;
              outline: 1px solid black;
            }            
          }
        }
        .product_meta{
          position: absolute;
          top: -80px;
          width: 100%;
          left: 0;
          border: none;
          text-align: center;
          a{
            color: $yellow;
          }
          .posted_in{
            a{
              text-align: center;
              color: rgba(0,0,0,.45);
              font-weight: 900;
              font-size: 30px !important;
              letter-spacing: -.24px;
              text-transform: uppercase;
              font-family: New Century Schoolbook, serif;
              font-weight: lighter;
              margin-top: -10px;
              display: inline-block;
              width: 100%;
              margin-bottom: 0;
              text-decoration: none;
              pointer-events: none;
              cursor: default;              
            }
          }
        }
        .woocommerce-variation-price{
          .price{
            opacity: 1;
            font-size: 25px;
            color: $yellow;
          }
        }
        .woocommerce-variation-description{
          p{
            text-align: left;
            margin: 1em;
            padding-bottom: 1em;
            font-size: 14px;
          }
        }
        .woocommerce-variation-add-to-cart{
          .single_add_to_cart_button{
            background: white;
            border: 2px solid #1dc2f3;
            color: #1dc2f3;
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            text-align: center;
            padding: 5px 50px;
            box-shadow: none;
            margin-top: 15px;
            &:hover{
              background: $yellow;
              color: white;
              text-decoration: none;
              padding: 5px 50px;
              text-transform: uppercase;
            }
            &:focus{
              background: $yellow;
              color: white;
              outline: 1px solid black;
              text-transform: uppercase;  
            }            
          }
        }
      }
      .woocommerce-tabs{
        .tabs{
          li{
            a{
              color: $yellow;
              padding-left: 10px;
            }
            &.active{
              a{
                color: rgba(0,0,0,.45);
              }
            }
          }          
        }
        .woocommerce-Tabs-panel{
          position: relative;
          h2{
            font-family: New Century Schoolbook, serif;
            font-size: 18px;
            font-weight: bold;
            color: #828282;
            margin-bottom: 20px;
            margin-top: 0;
          }
          .shop_attributes{
            tbody{
              tr{
                th{
                  display: block;
                }
                td{
                  display: block;
                  p{
                    font-size: 13px;
                    text-align: left;
                  }
                }
              }
            }
          }
          #reviews{
            #comments{
              .commentlist{
                li[itemprop="review"]{
                  .comment_container{
                    .comment-text{
                      div[itemprop="reviewRating"]{
                        span{
                          &:before{
                            color: $yellow;
                          }
                        }
                      }
                      .meta{
                        text-align: left;
                        font-size: 12px;
                      }
                      div[itemprop="description"]{
                        p{
                          text-align: left;
                          padding: 10px;
                          font-size: 14px;
                        }
                      }
                    }
                  }
                }
              }
              .woocommerce-noreviews{
                background-color: #3D9CD2;
                position: relative;
                left: 0;
                line-height: 22px !important;
                font-size: 12px !important;
                padding: 10px 0 !important;
                color: white !important;
                width: 100% !important;
                font-weight: bold;
                margin-bottom: 3em !important;
                max-width: 100% !important;
                opacity: .75;
              }
            }
            #review_form_wrapper{
              #review_form{
                #respond{
                  #reply-title{
                    text-align: center;
                    font-size: 16px;
                    font-weight: bold;
                  }
                  .must-log-in{
                    font-size: 12px;
                    a{
                      color: $yellow;
                    }
                  }
                  #commentform{
                    .stars{
                      padding-bottom: 0;
                      border-bottom: 0;
                      margin-bottom: 0;
                    }
                    .comment-form-rating{
                      margin-top: 3em;
                      margin-bottom: 1em;
                      padding-bottom: 1em;
                      label{
                        width: 100%;
                        text-align: center;
                        font-size: 14px;
                        margin-bottom: 15px;
                      }
                    }
                    .comment-form-comment{
                      label{
                        width: 100%;
                        text-align: left;
                        font-size: 14px;
                        margin-bottom: 15px;
                      }
                    }
                    .form-submit{
                      input{
                        background: white;
                        border: 2px solid #1dc2f3;
                        color: #1dc2f3;
                        font-family: "Roboto", sans-serif;
                        text-transform: uppercase;
                        text-align: center;
                        padding: 5px 50px;
                        box-shadow: none;
                        margin-top: 15px;
                        &:hover{
                          background: $yellow;
                          color: white;
                          text-decoration: none;
                          padding: 5px 50px;
                          text-transform: uppercase;
                        }                        
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .related{
        h2{
          font-family: New Century Schoolbook, serif;
          font-size: 18px;
          font-weight: bold;
          color: #828282;
          margin-bottom: 20px;
          margin-top: 0;
        }
      }
    }
    .blog-section{
      width: 100%;
      max-width: 1100px;
      display: block;
      margin: 0 auto 30px;
      a{
        color: $yellow;
        .entry-date{
          color: rgba(0,0,0,.65);
        }
      }
      .side{
        #secondary{
          margin-top: 15px;
          form[role="search"]{
            label{
              width: 100%;
            }
          }
          .widget{
            .widget-title{
              color: rgba(0,0,0,.65);
              font-weight: 900;
              font-size: 1.41em !important;
              text-transform: uppercase;
              font-family: $baskerville;
            }
          }
          .widget_recent_entries{
            ul{
              li{
                position: relative;
                padding-left: 25px;
                margin-bottom: 5px;
                padding-bottom: 5px;
                border-bottom: 1px solid rgba(0,0,0,.05);
                &:before{
                  content: '';
                  background: url(http://www.armorsecurityandprotection.com/ras/wp-content/uploads/2016/11/heart.png);
                  width: 18px;
                  height: 20px;
                  background-size: cover;
                  position: absolute;
                  left: 0;
                  top: 0;
                }
                a{
                  color: $yellow;
                  font-family: $baskerville;
                  font-weight: bold;
                  text-decoration: none;
                  opacity: .75;
                  &:hover{
                    opacity: 1;
                    text-decoration: underline;
                  }
                }
                .post-date{
                  display: block;
                  font-size: 10px;
                  opacity: .65;
                  font-weight: bold;                  
                }
              }
            }
          }
        }
      }
      .page-header{
        width: 70%;
        float: left;
        display: inline-block;
      }
      article{
        width:70%;
        float: left;
        display: inline-block;
        .entry-header{
          margin-bottom: 10px;
          font-family: $baskerville;
          /*border-bottom: 10px solid $yellow;*/
          padding: 15px;
          text-align: center; 
          .entry-title{
            font-size: 26px; 
            a{
              color: $yellow;  
              color: rgba(0,0,0,.75);            
            }
          }
          .posted-on{
            font-family: $helvetica;
            font-size: 12px;
            font-weight: bold;
            a{
              color: rgba(0,0,0,.75);
            }
          }
        }
        .entry-meta{
          width: 100%;
          font-size: 11px;
          font-weight: bold;
          border-bottom: 1px solid rgba(0,0,0,.05);
          margin-bottom: 25px;
          padding-left: 15px;
          .author{
            img{
              display: none;
            }
          }
          .author, .cat-links, .comments-link, .tags-links{
            margin-bottom: 5px;
            .label{
              display: inline-block;
              margin-right: 5px;
              opacity: .35;
              color: black;
              font-size: 12px;
            }
            a{
              color: $yellow;
            }
            .comments-link{
              display: inline-block;
            }
          }
        }
        .entry-content{
          width: 100%;
          .master-slider-parent{
            margin: 60px 0;
            .master-slider{
              visibility: visible !important;
              opacity: 1 !important;
            } 
          }
          img{
            width: 100%;
            max-width: 500px;
            margin: 0; 
          }
          p{
            font-family: $helvetica;
            font-size: 14px;
            line-height: 25px;
            margin-bottom: 2em;
            a{
              color: $yellow;
            }
          }
        }
      }
      .form-submit{
        input{
          background: transparent !important;
          border: 1px solid $yellow !important;
          color: $yellow !important;
          box-shadow: none !important;
          &:hover{ 
            background: $yellow !important;
            color: white !important;
          }
        }
      }
    }    
    .pagination{
      display: block;
      max-width: 1100px;
      padding: 0;
      border: none;
      .page-numbers{
        float: right;
        li{
          a{
            background: transparent;
            border: 1px solid $yellow;
            padding: 10px 18px;
            &:hover{
              background: $yellow;
              text-decoration: none;
              border: 1px solid $yellow;
            }
          }
          .current{
            background: rgba(0,0,0,.25);
            border: 1px solid transparent;
            padding: 10px 18px;
          }          
        }
      }
    }
  } 
}
.checkout{
  margin-top: 50px;
  margin-bottom: 0;
  display: block;
  width: 100% !important;  
  #main{
    .entry-header{
      .entry-title{
        text-align: center;
        color: rgba(0,0,0,.65);
        font-weight: 300;
        font-size: 25px !important;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-family: $roboto;
        margin-bottom: 0px;
        display: inline-block;
        width: 100%;
      }
    }
    .entry-content{
      display: block;
      max-width: 1200px;
      padding: 0;
      border: none;
      margin: 50px auto;
      a{
        color: $yellow;
      }
      .button{
        background: $yellow;
        box-shadow: none !important;
        color: white !important;
      }
    }
  }
}
.page-title-shop{
  text-align: center;
  color: rgba(0,0,0,.65);
  font-weight: 300;
  font-size: 25px !important;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: $roboto;
  margin-bottom: 0px;
  display: inline-block;
  width: 100%;
}   
.large_title{
  text-align: center; 
  color: $yellow;
  font-weight: 900;
  font-size: 27px !important;
  letter-spacing: -.24px;
  text-transform: uppercase;
  font-family: $baskerville;
  font-weight: lighter;
  margin-top: -10px;
  display: inline-block;
  width: 100%;     
  margin-bottom: 50px; 
}
img.mfp-img{
  min-width: 550px;
}