/* Colors */
$yellow: #1dc2f3; 

/* Fonts */
$roboto: 'Roboto', sans-serif;
$baskerville: New Century Schoolbook, serif;
$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 